.contact{
    border: 1px solid #A9191F;
    background: transparent;
    color: #e21f25;
    cursor: pointer;
    margin-left: 13rem;
    height: 39px;
    width: 110px;
    border-radius: 4px;
    transition: 0.3s ease-in;
}

.contact:hover{
    background-color: #EC1C24;
    color: white;
    transition: 0.5s ease-in;
}

.ghana-flag{
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    top: 1px;
    width: 20px;
    height: 20px;
}

.header-image{
    width: 55px;
    height: 58px;
    position: absolute;
    top: 17px;
    left: 14px;
}

.mad{
    font-size: 0.92rem;
}

.name{
    color: white;
    position: absolute;
    width: min-content;
    top: 54px;
    left: 25px;
}

.no-show{
    display: none;
}


.name p{
    margin: 0;
    line-height: 0.9;
    font-weight: bold;
    font-family: 'Poppins' ,sans-serif;
    transition: 0.3s ease-in;
}

.span{
    font-size: 0.8rem;
}

.nav-buttons{
    margin-right: 25rem;
    margin-left: 4rem;
}

.nav-contacts{
    display: flex;
    text-align: center;
    position: relative;
}

.nav-info{
    display: inline;
    padding: 10px;
    margin-right: 5px;
    margin-left: 8px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.navbar{
    background-color: #111213;
    width: 100%;
    display: flex;
    padding: 15px;
    position: fixed;
    z-index: 100;
}

.nav_p{
    color: white;
    border: none;
    position: absolute;
    top: 10px;
    display: flex;
}
.nav_p p{
    margin-left: 30px;
}



